@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

/* Margin and body setup */

/* * {
    margin: 0;
    padding: 0;
    border: none;
} */

body {
    font-family: Roboto, Lato, sans-serif;
    color: rgba(0, 0, 0, 0.582);
    text-align: center;
}

/* heading */
.heading {
    color: rgb(5, 48, 48);
    text-align: center;
    font-size: 2.5rem;
    margin-top: 150px;
}

/* style hero-image and container */

.container {
    background-color: darkolivegreen;
}

#question-container {
    position: absolute;
    bottom: 220px;
    left: 350px;
    height: 250px;
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
}
   

/* Style username */

.username {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: black;
}

#username {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}
    
/* style botton grid */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
